
html, body, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: none;
}

ul {
  list-style: none;
}

#tick-tack-toe > h1 {
  text-align: center;
}

#tick-tack-toe > .winner {
  text-align: center;
  text-transform: capitalize;
}

#game {
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  width: 276px;
  height: 276px;
  background: blue;
  margin: auto;
}

.grid > li {
  border: 1px solid black;
  float: left;
  width: 90px;
  height: 90px;
  background: gray;
  position: relative;
}

.grid > li:hover {
  background: yellow;
}

.grid > .clicked {
  background-color: white;
  font-size: 64px;
}

.grid > .clicked:hover {
  background: white;
}

.grid > .x:before {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

.grid > .o:before {
  content: "O";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
}
